<%- model_class = Contact -%>
<div class="col-lg-3 col-sm-5 col-md-4 sidebar" id="contact_list">
<ul class="nav nav-sidebar list-group">
  <%= render "contact_list" %>
  </ul>
</div>


<div class="col-lg-9 col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4 col-lg-offset-3 main" id="contactbody">
  <%= render "show" %>

</div>
